* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    background-color: #048f04;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button {
    width: 200px;
    height: 140px;

    font-size: 40px;

    text-transform: uppercase;
}
